@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5EFFF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5EFFF;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  background: #E5D9F2;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: 10px;
}

.title{
  font-size: 50px;
  margin: 0px;
}

.bottombanner{
  background-color: #CDC1FF;
  display: flex;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.footer{
 background-color: #CDC1FF; 
 text-align: center;
}

svg {
  width: 50px;
  height: 50px;
}
.profileicon{
position: absolute;
right: 20px;
cursor: pointer;
width: 40px;
}

.bottombanner svg{
  display: table-cell;
  vertical-align: baseline;
  line-height: 1;
  cursor: pointer;
}

.messageicon{
  width: 40px;
}

.calandericon{
  width: 60px;
  height: 60px;
}