@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5EFFF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5EFFF;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  text-align: center;
  font-size: 50px;
  background: #E5D9F2;
}
.bottombanner{
  background-color: #CDC1FF;
}
.footer{
 background-color: #CDC1FF; 
 text-align: center;
}